



#gamesboard-container{
    width: 500px;
    display: flex;
    justify-content: space-between;
}
.game-board{
    width: 200px;
    height: 200px;
}
.block{
    width: 20px;
    height: 20px;
    border: solid 1px whitesmoke;
    box-sizing: border-box;
}

.option-container{
    width: 500 px;
    height: 60px;
    margin: 30px 0;
    background-color:lightblue;
    display: flex;
    align-items: center;
}
.destroyer{
    background-color: grey;
}
.submarine{
    background-color:black;
}

.cruiser{
    background-color: whitesmoke;
}
.battleship{
    background-color:burlywood;
}

.carrier{
    background-color:darkslategray;
}

.destroyer-preview {
    width: 20px;
    height: 10px;
    margin: 3px;
}

.submarine-preview{
    width: 30px;
    height: 10px;
    margin: 3px;
}

.cruiser-preview{
    width: 30px;
    height: 10px;
    margin: 3px;
}

.battleship-preview{
    width: 40px;
    height: 10px;
    margin: 3px;
}

.carrier-preview{
    width: 50px;
    height: 10px;
    margin: 3px;
}